<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HRPANOBIZ" connectionString="Server=SG2NWPLS19SQL-v05.mssql.shr.prod.sin2.secureserver.net;Database=dbhrpanobiz;User ID=dbhrpanobiz;Password=dbhrpanobiz123@;Connect Timeout=60;"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="relay-hosting.secureserver.net" userName="inputsfrom@sitequery.info" password="info123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="EmpKYCDocPath" value="/EmpKYCDoc/"/>
    <add key="Images" value="/Images/"/>
    <add key="EmpDataPath" value="/BulkUploadEmpData/"/>
    <add key="EmpInformSheetPath" value="/EmpInformSheet/"/>
    <add key="EmpPhotoPath" value="/EmpPhoto/"/>
    <add key="BulkUploadKYCFilePath" value="/BulkUploadKYCFile/"/>
    <add key="BulkUploadKYCDocPath" value="/BulkUploadKYCDoc/"/>
    <add key="CandidateDocPath" value="/CandidateDoc/"/>
    <add key="ApprovalList" value="/ApprovalList/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>