.overlay-popup-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	display: none;
	z-index: 11111;
}
.popup {
	margin: 35px auto;
	padding: 30px 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all .5s ease-in-out;
	top: 100px;
}
.popup .close {
	position: absolute;
	top: 6px;
	right: 10px;
	transition: all 200ms;
	font-size: 23px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
    cursor: pointer;
}
.popup .close:hover {
  	color: #C54E47;
}
.popup .content {
  	max-height: 30%;
  	overflow: auto;
/*	margin-top: 5%;*/
	text-align: center;
/*	font-weight: bold;*/
padding: 5px;
}
.popup .content h3 {
    font-size: 18px;
    margin: auto;
    color: #000;
}
.popup .content a {
    font-size: 15px;
}
.popup .content a:hover {
    text-decoration: none;
}